@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Oswald:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #918ca4;
}

/* headings and logo */

.wrap {
    height: 75px;
    width: 100%;
    padding: 0;
    display: block;
}

h1, h2 {
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #160760;
}

#logo {
    text-transform: none;
    letter-spacing: 3px;
    float: left;
    font-size: 230%;
    margin-left: 25px;
}



/* site navigation */

#menu {
    font-size: 100%;
    letter-spacing: 2px;
    font-weight: 700;
    color: rgb(17, 17, 17);
}

#menu, #logo {
    line-height: 75px;
}
#menu li {
    list-style-type: none;
    float: right;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #0050ff;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and hero text */

#hero-image {
    height: 700px;
    width: 100%;
    background: url('../images/Nurse\ on\ uniform\ walking.jpg') no-repeat;
    background-size: cover;
}

#hero-text {
    height: 150px;
    width: 300px;

    font-size: 100%;
    font-family: oswald, sans-serif;
    letter-spacing: 2px;

    background-color: rgba(17, 17, 17, 0.5);

    bottom: 200px;
    right: 80px;

    
    position: absolute;

    transition: transform 0.5s ease-in;
}

.hero-text {
    padding-left: 1rem;
    color: aliceblue;
}

/* hero text animation */

#hero-text:hover {
    transform: perspective(200px) translateZ(30px);
}

/* treatment offered */

#treatment {
    height:fit-content
}

#left-treatment {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-treatment {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-treatment {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
    background-color: silver;
    border-top-right-radius: 25px;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-treatment-content {
    width: 90%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 25px;
}

.right-treatment-content {
    width: 90%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 25px;
}

.right-treatment-content h2 {
    text-align: right;
}

.right-treatment-content p {
    text-align: right;
}

.center-treatment-content {
    width: 90%;
    float: none;
    line-height: 20px;
    padding: 0 0 10px 20px;
    margin-bottom: 25px;
}

.center-treatment-content h2 {
    text-align: center;
}

.center-treatment-content p {
    text-align: center;
}

#treatment-title {
    text-align: center;
    margin: 10px 0;
    font-size: 200%;
}

/* Appointment booking */

#appointment-booking-outer {
    background-color: #fff;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

form {
    max-width: 400px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
  }

  .appointment-booking-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
    }

.legend {
    text-transform: capitalize;
    font-weight: 600;
}

input[type="text"],
input[type="email"],
textarea {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 5px;
  width: 90%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 15px;
}


button {
    padding: 10px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }