@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Oswald:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: black;
}

/* headings and logo */

.wrap {
    height: 75px;
    width: 100%;
    padding: 0;
    display: block;
}

h1, #hero-text h2 {
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #33b5e5;
}

#logo {
    text-transform: none;
    letter-spacing: 3px;
    float: left;
    font-size: 230%;
    margin-left: 25px;
}


/* site navigation */

#menu {
    font-size: 100%;
    letter-spacing: 2px;
    font-weight: 700;
    color: rgb(17, 17, 17);
}

#menu, #logo {
    line-height: 51px;
}

#menu li {
    list-style-type: none;
    float: right;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #0099cc;
}

.active {
    border-bottom: 2px solid #3a3a3a;
}

/* hero image and hero text */

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/black\ nurse\ on\ the\ move.jpeg') no-repeat;
    background-size: cover;
}

#hero-text {
    height: 150px;
    width: 300px;

    font-size: 100%;
    font-family: oswald, sans-serif;
    letter-spacing: 2px;

    padding: 3px 10px;

    background-color: rgba(17, 17, 17, 0.5);
    color: #fafafa;

    bottom: 0px;
    right: 900px;

    
    position: absolute;

    transition: transform 0.5s ease-in;
}



/* hero text animation */

#hero-text:hover {
    transform: perspective(200px) translateZ(30px);
}

/* treatment offered */

#treatment {
    height: 400px
}

#left-treatment {
    padding-top: 30px;
    width: 33.3%;
    float: left;
}

#right-treatment {
    padding-top: 30px;
    width: 33.3%;
    float: right;
}

#center-treatment {
    padding-top: 30px;
    width: 33.3%;
    margin: 0 auto;
    border-top-right-radius: 25px;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-treatment-content {
    width: 90%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 25px;
    text-align: justify;
}

.right-treatment-content {
    width: 90%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 25px;
    text-align: justify;
}

.center-treatment-content {
    width: 90%;
    float: none;
    line-height: 20px;
    padding: 0 0 10px 20px;
    margin-bottom: 25px;
    text-align: justify;
}

#treatment-title {
    text-align: center;
    margin: 10px 0;
    font-size: 200%;
}

/* Appointment booking */

#appointment-booking-outer {
    background-color: #fafafa;
    
}

form {
    max-width: 400px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
  }

  .appointment-booking-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
    }

.legend {
    text-transform: capitalize;
    font-weight: 600;
}

input[type="text"],
input[type="email"],
textarea {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 5px;
  width: 90%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 15px;
}


button {
    padding: 10px;
    color: #FFF;
    background-color: #54a864;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }

  /* footer */

  .footer-container {
      border-top: 1px solid #e8eeef;
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-color: black;
      color: #FFF;
  }

  .container {
      flex: 1 1 12.5rem;
      height: 10rem;
      width: 10rem;
      margin: 1rem; 
      text-align: center;
  }

  .container-left {
    flex-grow: 0;  
}

  .footer-logo {
    color: #3a3a3a;
    text-transform: none;
    letter-spacing: 3px;
    float: left;
    font-size: 200%;
    margin: 25px;
  }

  .footer-logo:hover {
      color: #e8eeef;
  }

  .container-right > h3{
      padding-bottom: 0.5rem;
      
  }

  .container-center{
      border-left: 1px solid #e8eeef;
      border-right: 1px solid #e8eeef;
     
  }

  .social-media {
      text-align: center;
  }

  .social-media > li {
    display: inline;
  }

  .social-media i {
      font-size: 200%;
      margin: 1%;
      padding: 0;
      color: #3a3a3a;
  }

  .container-hover i:hover {
    color: #e8eeef;
}

  .container i {
      font-size: 200%;
      margin: 1%;
      padding: 0;
      color: #3a3a3a;
      letter-spacing: 2px;
      line-height: normal;
  }

  /* styling the location.html page */

  /* location hero section */

  #location-hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/medical\ van.jpeg') no-repeat;
    background-size: cover;
}

/* location content */

#location {
    height: 400px;
}

#left-location {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-location {
    padding-top: 30px;
    width: 33%;
    float: right;
}

.left-location-content {
    width: 90%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 25px;
}

.right-location-content {
    width: 90%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 25px;
}

.left-location-content h4 {
    text-align: right;
}

.left-location-content p {
    text-align: right;
}

#location-area {
    text-align: center;
    margin: 10px 0;
    font-size: 150%;
}


/* location content picture */

#center-content {
    height: 300px;
    width: 300px;
    padding: 15px;
    border-style: solid;
    border-color: #ccc;
    border-width: 0.25px;
    border-radius: 50%;
    border-top-right-radius: 25px;
    margin: 0 auto;
    
}

#center-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    border-top-right-radius: 25px;
}

/* styling the identity.html page */

  /* identity hero section */

  #identity-hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/Stethoscope.jpg') no-repeat;
    background-size: cover;
}


/* styling about us section of the identity.html page */

.about-us {
    height: 400px;
    width: 100%;
    display: flex;
    padding-top: 25px;   
}

.know-us {
    height: auto;
    width: 33.33%;
    background-color: #fafafa;
    border: 1px solid white;  
}

.icon {
    font-size: 700%;
    text-align: center;
    color: #33b5e5;
}

.know-us h2 {
    text-align: center;
}

.know-us p {
    text-align: justify;
    padding: 10px;
}

/* media quaries */

/* for larger to medium screen size from 1200px wide and down */
 @media screen and (max-width: 1200px) {

#treatment, #location, .about-us {
    width: 65%;
    height: 800px;
    margin: 0 auto;
}

.about-us {
    display: block;
}

.icon {
    font-size: 300%;
}


#location-area {
    padding: 30px 0;
    margin: 0;
    color: #33b5e5;
}

#left-treatment, #right-treatment, #center-treatment,
#left-location, #right-location,
#left-know-us, #right-know-us, #center-know-us {
    width: 100%;
    float: left;
    padding: 0;
}

.center-treatment-content h2, .right-treatment-content h2,
.right-location-content h4, .left-location-content h4 {
    text-align: center;
}

.left-treatment-content p, .right-location-content p, .left-location-content p {
   text-align: justify;
}

.right-treatment-content p {
    padding-left: 20px;
}

#center-image {
    object-fit: contain;
}


#center-content {
    clear: both;
    width: 100%;
    float: left;
    padding: 0;
}

#hero-text {
    left: 25px;
}

hr {
    display: none;
}

}
     
 /* for medium screen sizes from 950px wide and down */
 @media screen and (max-width: 950px) {
     #menu {
         clear: left;
         float: left;
         margin-left: 30px;
         margin-bottom: 20px;
         line-height: 25px;
     }

     #hero-text {
         left: 25px;
     }

     #treatment, #location .about-us {
         width: 90%;
         height: 600px;
         margin: 0 auto;
     }

     .left-treatment-content, .right-treatment-content, 
     .left-location-content, .right-location-content {
         width: inherit;
     }

     .left-treatment-content h2, .right-treatment-content h2
     .left-location-content h2, .right-location-content h2 {
         width: 100%;
         text-align: center;
     }

     .left-treatment-content p, .right-treatment-content p 
     .left-location-content p, .right-location-content p {
         text-align: center;
         padding: 0, 20px;
     }

 }

 /* For small screen sizes 800px and down */
 @media screen and (max-width: 800px) {
    .container {
        flex: 1 1 12.5rem;
        height: 30vh;
        width: 33.3%;
        margin: 1rem; 
        text-align: center;
        padding-top: 1rem;
        margin: 0 auto;
    }
  
    .container-right {
      flex-grow: 0;  
  }
 }
